page-home {

    .card-md-work h2 {
        color: black;
    }

    .card-md-work h3 {
        color: black;
    }

    .card-md-health h2 {
        color: black;
    }

    .card-md-health h3 {
        color: black;
    }

    .card-md-learning h2 {
        color: black;
    }

    .card-md-learning h3 {
        color: black;
    }

    .card-md-faimly h2 {
        color: black;
    }

    .card-md-family h3 {
        color: black;
    }
}
